@mixin fill-btn-style{
    height: 60px;
    width: 152px;
    border: 2px solid $main-color;
    border-radius: 20px;
    font-weight: 600;
    background: $main-color;
    transition: 0.3s all;
    color: #fff;
    &:hover{
        transition: 0.3s all;
        background-color: rgba(0,0,0,0);
        color: #fff;
    }
}
@mixin up-animation{
    cursor: pointer;
    transition: 0.3s all;
    &:hover{
        transition: 0.3s all;
        transform: translate( 3px, -3px );
        box-shadow:  -5px 5px 15px 3px #000;
    }
}